.scrollable{
    background-color: white;
    height: 450px;
    overflow-x: auto;
    overflow-y: auto;
    margin: 10px;
    
}
.dietplanHeader{
    background-color: white;
    width: 90%;
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    text-align: center;
}
.outerscrollable{
    background-color: rgb(221, 216, 216);
    width: 90%;
    margin: 5px 5px;
}