.signUpContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signUpFormContainer{
    background-color: #fff;
    padding: 0 7vw 3vh 7vw;
    width: 25vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.formLink{
    margin-bottom: 3vh;
    text-decoration: none;
    color: #4CAF50;
}

.signUpTitle{
    font-size: larger;
    font-weight: bold;
}